h1 {

  font-family: "Times New Roman", Times, serif;
  color: rgba(255,255,255,.5);
  font-size: 50px;
}
body
{
  background-image:url(3117thomas.jpg);
  background-color: rgba(0,0,0,0.7);

  background-repeat:no-repeat;
  background-blend-mode: soft-light;

  background-size:     cover;
  background-position: top;
  color: rgba(255,255,255,.5);
  margin-left: 15%;
  margin-right: 15%;
  font-size: 25px;
}
