h1 {

  font-family: "Times New Roman", Times, serif;

  text-shadow:
      -1px -1px 0 #ff0000,
       1px -1px 0 #ff0000,
      -1px  1px 0 #ff0000,
       1px  1px 0 #ff0000;

  font-size: 100px;
}
h2{
  font-family: "Times New Roman", Times, serif;

  text-shadow:
      -1px -1px 0 #ff0000,
       1px -1px 0 #ff0000,
      -1px  1px 0 #ff0000,
       1px  1px 0 #ff0000;

  font-size: 50px;
}
img
{
  height: 100px;
  width: 50%;
}
body
{
  background-image:url(3105thomas.jpg);

  background-repeat:no-repeat;

  background-size:     cover;
  background-position: top;
}
